<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
			<param name="activeFileName" value="./../logs/${project.artifactId}.log" />
			<param name="fileNamePattern" value="./../logs/${project.artifactId}.%i.log" />
			<param name="minIndex" value="1" />
			<param name="maxIndex" value="10" />
		</rollingPolicy>
		<triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
			<param name="maxFileSize" value="512000" />
		</triggeringPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d | %m%n" />
		</layout>
	</appender>

	<appender name="FILE-FOR-DVR-CAMERA" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
			<param name="activeFileName" value="./../logs/dvr-camera.log" />
			<param name="fileNamePattern" value="./../logs/dvr-camera.%i.log" />
			<param name="minIndex" value="1" />
			<param name="maxIndex" value="5" />
		</rollingPolicy>
		<triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
			<param name="maxFileSize" value="512000" />
		</triggeringPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d | %m%n" />
		</layout>
	</appender>

	<logger name="ru.aplix.packline.hardware.camera.flussonic" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="FILE-FOR-DVR-CAMERA" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>
