<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

	<context:annotation-config />
	<task:annotation-driven />
	<cache:annotation-driven cache-manager="cacheManager" />	

	<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" p:config-location="resources/ehcache.xml" />
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager" p:cache-manager-ref="ehcache" />
	
	<bean class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>resources.messages.strings</value>
		</property>
	</bean>

	<bean id="cacheOrders" class="ru.aplix.packline.utils.CacheOrders" />

	<bean id="asyncCommandRunner" class="ru.aplix.packline.utils.AsyncCommandRunner" />

	<util:list id="barcodeListeners" value-type="ru.aplix.packline.hardware.barcode.BarcodeListener" list-class="java.util.Vector" />
	<util:list id="measurementListeners" value-type="ru.aplix.packline.hardware.scales.MeasurementListener" list-class="java.util.Vector" />

	<!-- Workflow actions -->
	<alias alias="firstWorkflowAction" name="action1" />
	<alias alias="startWorkflowAction" name="action2" />
	<alias alias="controlReturnsAction" name="action16" />
	<alias alias="closeRegistryAction" name="action22" />

	<bean id="action1" class="ru.aplix.packline.action.AuthAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="action2" class="ru.aplix.packline.action.ReadBarcodeOrderAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="resetWorkAction" ref="action1" />
		<property name="pickupRequestAction" ref="action3_pre" />
		<property name="acceptanceAction" ref="action3" />
		<property name="orderActAction" ref="action6" />
		<property name="packingAction" ref="actionVerify" />
		<property name="markingAction" ref="action10" />
		<property name="newMarkerAction" ref="askGenStickCustomerAction" />
	</bean>

	<bean id="action3_pre" class="ru.aplix.packline.action.SelectPickupRequestsAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action3" />
	</bean>

	<bean id="actionVerify" class="ru.aplix.packline.action.VerifyAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="idleAction" ref="action2" />
		<property name="verifyCloseAction" ref="action7_pre" />
		<property name="cancelAction" ref="action2" />
	</bean>

	<bean id="action3" class="ru.aplix.packline.action.WeightingOrderAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action4" />
	</bean>

	<bean id="action4" class="ru.aplix.packline.action.PhotoAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action5" />
	</bean>

	<bean id="action5" class="ru.aplix.packline.action.TrolleyAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="photoAction" ref="action4" />
		<property name="acceptanceAction" ref="action6" />
		<property name="dimentionAction" ref="expressMarkingAction1" />
		<property name="expressMarkingAction" ref="expressMarkingAction2" />
	</bean>

	<bean id="action6" class="ru.aplix.packline.action.OrderActAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="idleAction" ref="action2" />
		<property name="deleteActAction" ref="action2" />
		<property name="closeActAction" ref="actionOrderActScan" />
	</bean>

	<bean id="action7_pre" class="ru.aplix.packline.action.PrintFormsBeforePackingAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action7" />
	</bean>

	<bean id="action7" class="ru.aplix.packline.action.PackTypeAction">
		<property name="idleTimeout" value="LONG" />
		<property name="barcodeAction" ref="action8" />
		<property name="dimentionAction" ref="action9" />
		<property name="closeAction" ref="action2" />
	</bean>

	<bean id="action8" class="ru.aplix.packline.action.ReadBarcodeBoxAction">
		<property name="idleTimeout" value="LONG" />
		<property name="nextAction" ref="action9" />
	</bean>

	<bean id="action9" class="ru.aplix.packline.action.DimentionsAction">
		<property name="idleTimeout" value="LONG" />
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="action10" class="ru.aplix.packline.action.WarningAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="normalAction" ref="action11" />
		<property name="backAction" ref="action2" />
	</bean>

	<bean id="action11" class="ru.aplix.packline.action.PrintFormsBeforeWeightingAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action12" />
	</bean>

	<bean id="action12" class="ru.aplix.packline.action.WeightingBoxAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="overweightAction" ref="action13" />
		<property name="underweightAction" ref="action14" />
		<property name="printingAction" ref="action15" />
		<property name="nextParcelAction" ref="action2" />
	</bean>

	<bean id="action13" class="ru.aplix.packline.action.OverweightAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="weightingAction" ref="action12" />
		<property name="normalAction" ref="action2" />
	</bean>

	<bean id="action14" class="ru.aplix.packline.action.UnderweightAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="weightingAction" ref="action12" />
		<property name="backAction" ref="action2" />
		<property name="normalAction" ref="action15" />
	</bean>

	<bean id="action15" class="ru.aplix.packline.action.PrintFormsAction">
		<property name="idleTimeout" value="LONG" />
		<property name="weightingAction" ref="action12" />
		<property name="normalAction" ref="action2" />
	</bean>

	<bean id="action16" class="ru.aplix.packline.action.SelectCarrierAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action17" />
	</bean>

	<bean id="action17" class="ru.aplix.packline.action.ReturnRegistryScanAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action18" />
	</bean>

	<bean id="action18" class="ru.aplix.packline.action.ReturnRegistryViewAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="backAction" ref="action16" />
		<property name="weightingAction" ref="action19" />
	</bean>

	<bean id="action19" class="ru.aplix.packline.action.WeightingOrderAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action20" />
	</bean>

	<bean id="action20" class="ru.aplix.packline.action.PhotoAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action21" />
	</bean>

	<bean id="action21" class="ru.aplix.packline.action.ReturnRegistryDeleteAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action18" />
	</bean>

	<bean id="action22" class="ru.aplix.packline.action.SelectCarrierAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action23" />
	</bean>

	<bean id="action23" class="ru.aplix.packline.action.CloseRegistryAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="genStickAction" class="ru.aplix.packline.action.GenStickAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="genStickCustomerAction" class="ru.aplix.packline.action.GenStickCustomerAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="askGenStickCustomerAction" class="ru.aplix.packline.action.AskGenStickCustomerAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="zebraTestAction" class="ru.aplix.packline.action.ZebraTestAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="warrantyCardAction" class="ru.aplix.packline.action.WarrantyCardAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="activePostsAction" class="ru.aplix.packline.action.ActivePostsAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="actionOrderActScan" class="ru.aplix.packline.action.OrderActScanAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="selectPrintFormsAction" class="ru.aplix.packline.action.SelectPrintFormsAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="remarkingAction" />
	</bean>

	<bean id="remarkingAction" class="ru.aplix.packline.action.RemarkingAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="expressMarkingAction1" class="ru.aplix.packline.action.Dimentions2Action">
		<property name="idleTimeout" value="LONG" />
		<property name="nextAction" ref="expressMarkingAction2" />
	</bean>

	<bean id="expressMarkingAction2" class="ru.aplix.packline.action.WarningAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="normalAction" ref="expressMarkingAction3" />
		<property name="backAction" ref="action6" />
	</bean>

	<bean id="expressMarkingAction3" class="ru.aplix.packline.action.WeightingBoxAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="overweightAction" ref="expressMarkingAction4" />
		<property name="underweightAction" ref="expressMarkingAction5" />
		<property name="printingAction" ref="expressMarkingAction6" />
		<property name="nextParcelAction" ref="action6" />
	</bean>

	<bean id="expressMarkingAction4" class="ru.aplix.packline.action.OverweightAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="weightingAction" ref="expressMarkingAction3" />
		<property name="normalAction" ref="action6" />
	</bean>

	<bean id="expressMarkingAction5" class="ru.aplix.packline.action.UnderweightAction">
		<property name="idleTimeout" value="SHORT" />
		<property name="weightingAction" ref="expressMarkingAction3" />
		<property name="backAction" ref="action6" />
		<property name="normalAction" ref="expressMarkingAction6" />
	</bean>

	<bean id="expressMarkingAction6" class="ru.aplix.packline.action.PrintFormsAction">
		<property name="idleTimeout" value="LONG" />
		<property name="weightingAction" ref="expressMarkingAction3" />
		<property name="normalAction" ref="action6" />
	</bean>
</beans>
