<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
		
	<!-- Enables the detection of @Async and @Scheduled annotations on any Spring-managed object -->
	<task:annotation-driven/>
	
	<bean id="asyncCommandRunner" class="ru.aplix.packline.utils.AsyncCommandRunner"/>

	<!-- Workflow actions -->
	<alias alias="firstWorkflowAction" name="action1" />
	<alias alias="startWorkflowAction" name="action2" />

	<bean id="action1" class="ru.aplix.packline.action.AuthAction">
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="action2" class="ru.aplix.packline.action.ReadBarcodeOrderAction">
		<property name="resetWorkAction" ref="action1" />
		<property name="acceptanceAction" ref="action3" />
		<property name="orderActAction" ref="action6" />
		<property name="packingAction" ref="action7" />
		<property name="markingAction" ref="action10" />
	</bean>

	<bean id="action3" class="ru.aplix.packline.action.WeightingOrderAction">
		<property name="nextAction" ref="action4" />
	</bean>

	<bean id="action4" class="ru.aplix.packline.action.PhotoAction">
		<property name="nextAction" ref="action5" />
	</bean>
	
	<bean id="action5" class="ru.aplix.packline.action.TrolleyAction">
		<property name="nextAction" ref="action6" />
	</bean>
	
	<bean id="action6" class="ru.aplix.packline.action.OrderActAction">
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="action7" class="ru.aplix.packline.action.PackTypeAction">
		<property name="barcodeAction" ref="action8" />
		<property name="dimentionAction" ref="action9" />
		<property name="closeAction" ref="action2" />
	</bean>

	<bean id="action8" class="ru.aplix.packline.action.ReadBarcodeBoxAction">
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="action9" class="ru.aplix.packline.action.DimentionsAction">
		<property name="nextAction" ref="action2" />
	</bean>

	<bean id="action10" class="ru.aplix.packline.action.WeightingBoxAction">
		<property name="overweightAction" ref="action11" />
		<property name="printingAction" ref="action12" />
	</bean>
	
	<bean id="action11" class="ru.aplix.packline.action.OverweightAction">
		<property name="weightingAction" ref="action10" />
		<property name="normalAction" ref="action2" />
	</bean>

	<bean id="action12" class="ru.aplix.packline.action.PrintFormsAction">
		<property name="weightingAction" ref="action10" />
		<property name="normalAction" ref="action2" />
	</bean>

	<bean id="genStickAction" class="ru.aplix.packline.action.GenStickAction">
		<property name="nextAction" ref="action2" />
	</bean>
	
	<bean id="genStickCustomerAction" class="ru.aplix.packline.action.GenStickCustomerAction">
		<property name="nextAction" ref="action2" />
	</bean>
	
	<bean id="zebraTestAction" class="ru.aplix.packline.action.ZebraTestAction">
		<property name="nextAction" ref="action2" />
	</bean>
</beans>
